.addlocation{
    width: 100%;
    height: fit-content;
    background-color: aliceblue;
    border: 0.5px solid aliceblue;
    margin: 2px 0;
    display: flex;
    
    flex-direction: column;
    
}
.add_location_text{
    margin-left: 10px;
    width: 100%;
    text-align: center;
}

.addlocation_container{
background: white;
display: flex;
flex-direction: column;

width: 100%;
}

.field_row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.fields{
width: 50%;
display: flex;

align-items: center;
flex-direction: column
}

.textfield{
    width: 240px;
    
}
.all_features_field{
    width:240px;
}

.btn-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}



@media screen and (max-width: 768px) {
    .field_row {
      flex-direction: column;
      align-items: center;
    }
  
    .fields {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .field_row {
      flex-direction: column;
      align-items: center;
    }
  
    .fields {
      width: 100%;
      margin-bottom: 8px;
    }
  }
