.viewlocation_header{
    width: 100%;
    text-align: center;
    background: #b36565;
    color: white;
    margin-top: 10px;
}

.cards_free,.cards_basic,.cards_advance{
margin-top: 10px;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
width: 100%;
}