.forgetpass{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://assets.architecturaldigest.in/photos/60084f36f93542952b665f23/master/w_960,c_limit/Westend61-getty-images-coronavirus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.forgetpass_container{
    box-shadow: 1px 1px 10px rgb(110, 108, 108);
    height: fit-content;
    width: fit-content;
    text-align: center;
    background-color: white;
   padding: 20px;
}
.forgetpass_avatar{

display: flex;
justify-content: center;
margin-bottom: 10px;
}

.text_for{
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_for h5{
    width: 290px;
    text-align: center;
    margin-bottom: 10px;
}
.text_for  .p{
    width: 290px;
    text-align: start;
    margin-top: 10px;
    padding-left: 20px;
    color: rgb(70, 68, 68);
}

.forgetpass_email{
    
    margin: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
}

.btn_forgetpass{
    width: 200px;
display: flex;
justify-content: center;
width: 100%;
padding: 10px 0;
margin-top: 15px;

}

.btn{
    width: 100%;
    background-color: purple;
}


